html {
    
    background-image: url(img/branco.jpg) ;
    background-position:center ;
    background-size: contain;
}

#margem { 

    width: 1000px;
    height: 750px;
    border: 3px solid rgb(10, 9, 9);


    position: fixed;
    top: calc(50% - 750px / 2);
    right: calc(50% - 1000px / 2);
}



#cabecalho {
    
    width: 980px;
    height: 125px;
    border: 3px solid rgb(7, 7, 7);
    margin: 11px;
    background-color: rgb(2, 1, 1);
    
}

#h1 {
    width: 150px;
    text-align: center;
}

#logo {
    text-shadow:1px 10px 30px  ;
    color:rgb(241, 238, 238);
   text-align: center;
}

#moto {

    width: 155px; ;
    height: 128px;
    float: right;
}

#navegacao {
    width: 200px; ;
    height: 580px;
    border: 3px solid rgb(10, 10, 10);
    margin: 11px;
    float: left;
    background-color: black;
}

#image {

    width: 746px; 
    height: 110px;
    border: 2px solid rgb(5, 5, 5);
    margin: 11px;
    float: right;
    background-color: rgb(14, 13, 13);
}

#image h1 {
    width: 500px;
    height: 100px;
    margin-left:10px;
    margin-top:5px ;
    color: rgb(248, 247, 246);
}

#menu {
    /*background-color: brown;*/
    width: 130px;
    height:auto;
    margin-top: 30px;
    margin-left: 0px;
    /*border:2px solid rgb(8, 8, 8) ;*/
    list-style: none;
    font-family: Arial, Helvetica, sans-serif ;
}

#principal h1 {
    margin-left: 100px;
    margin-top: 1px;
         
    color: aliceblue;
    width: 10px;
    
}

#principal h2 {
    margin-left: 300px;
    margin-top: -55px;
     
    color: aliceblue;
    width: 10px;
}


#principal h3 {
    margin-left: 550px;
    margin-top: -50px;
         
    color: aliceblue;
    width: 10px;
}

#blocos li:hover {
    background: linear-gradient(orange,red);
    width: 65px;
    box-shadow: 1px 10px 30px;
    
}

#principal {

    width: 750px;
    height:300px;
    border:3px solid rgb(8, 8, 8) ;
    margin: 6px;
    float:left ;
    background-color: black;
}


.blocos {
    width: 200px; ;
    height: 150px;
    margin: 65px 0 0 20px;
    float: left;
   

}

.blocos img {
    width:200px ;
    height:150px; 
    transition: 0.5s; 
}

.blocos img:hover {
    background: linear-gradient(rgb(231, 13, 13),rgb(47, 0, 255));
    color: aqua;
    box-shadow: 1px 30px 30px ;
    height: 105%;
    
}

#rodape {
    width:750px;
    height:130px ;
    border: 3px solid rgb(12, 11, 11);
    float: left;
    margin: 5px;
    background-color: black;
}



#lista{
    width:180px ;
    height:auto;
    list-style: none; /* remove o item de listagem */
    padding: 0; /*tira rabarba de fundo */
    
    display:flex ;
    flex-direction: column ;
    justify-content: center; /*alinhamente de caixa*/
 
  



}

#lista li a {
    text-decoration: none;
    color: rgb(226, 223, 223);
}

#lista li {  
    
    text-align: center;    /*centrualizar texto */
    margin-top: 50px; 
    font-family:'Lilita One', sans-serif;
    font-size: 15px;
    
}


#lista li:hover { /* edita a passada do mouser */
    background: linear-gradient(rgb(61, 127, 202),rgb(0, 183, 255));
    color: aqua;
    box-shadow: 1px 10px 30px;
    
}